.Checkout {
  display: flex;
  justify-content: center;
}

.summary {
  border-top: 2px solid grey;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.Total {
  display: flex;
  justify-content: space-between;
}
.List {
  display: flex;
  flex-direction: column;
}

.Items {
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
}
.add_remove {
  display: flex;
  gap: 5px;
}
.add,
.remove {
  padding: 0 15px 0 15px;
  border-radius: 500px;
  font-size: 1.1em;
}
.add {
  background-color: rgb(118, 231, 118);
}
.remove {
  background-color: #e79795;
}
.add:hover {
  background-color: green;
}
.remove:hover {
  background-color: red;
}
.tab {
  display: flex;
}

.cart_container {
  padding: 20px 150px;
  background-color: lightgrey;
}

.checkout {
  margin-top: 30px;
  border-radius: 10px;
}
.options{
  border-bottom: 1px solid black;
}