h1 {
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex: 0 0 30.333333%;
}

.products_component .search_style {
  justify-content: space-around;
}

.product_container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.active {
  background-color: lightblue;
}

.Pagination_container {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.page_btn {
  border-radius: 20%;
  padding: 5px 12px;
}
.page_btn:hover {
  background-color: blue;
}

.product_container img {
  align-self: center;
  width: 150px;
  height: 150px;
}

.card button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.card button:hover {
  background-color: aquamarine;
}

.search_style_child {
  flex: 0 0 15.333333%;
}
